@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Courgette&family=Lobster&family=Satisfy&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    font-family: "Carlito", sans-serif;
}

header {
    background-image: url(../assets/images/food9.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
}

header #logo {
    font-family: "Lobster", cursive;
    font-size: 32px;
}

header section {
    padding-top: 0;
}

header section div .header-txt {
    color: aliceblue;
    padding: 0 20vh 10vh 10vh;
}

header section h1 {
    font-family: "Lobster", cursive;
    font-size: 50px;
    padding: 3vh 0;
}

header section p {
    font-family: "Courgette", cursive;
    font-size: 25px;
    padding: 3vh 0;
}

h3 {
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#first {
    background-color: #FDEEDC;
    min-height: 100vh;
}

#second {
    background-color: #FFD8A9;
    min-height: 100vh;
}

#third {
    background-color: #F1A661;
    min-height: 100vh;
}

main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

main .container h2 {
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 46px;
    padding: 9vh 0 3vh 0;
}

main .container p {
    text-align: center;
    font-family: "Courgette", cursive;
    font-size: 24px;
    padding: 3vh 0;
}

main .div-1 {
    width: 100%;
}

main .div-2 {
    padding: 2vh;
}

main .button {
    width: 100%;
    padding: 1vh 3vh 7vh 3vh;
    margin: 0;
    text-align: center;
}

main .historia {
    width: 500px;
    border-radius: 10px;
}

main .div-3 {
    width: 50%;
    padding: 5vh 15vh;
}

main .div-3 button {
    margin-left: 15vh;
}

main h3 {
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 46px;
    padding: 9vh 0 3vh 0;
}

main #p-2 {
    font-size: 34px;
    padding-top: 11vh;
}

.title {
    padding: 9vh 2vh 2vh 2vh;
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 48px;
}

#size {
    height: 95vh;
    padding-top: 5vh;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    padding: 15px;
}

.grid-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.grid-image:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

footer a {
    text-decoration: none;
    font-size: 17px;
}

footer p {
    font-size: 15px;
}

footer a:hover {
    color: #DA0037 !important;
}

footer i {
    font-size: 25px;
}

@media (max-width: 1399px) {
    header {
        background-image: url(../assets/images/food9.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 100%;
    }

    main .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    main .div-2 {
        -ms-flex-item-align: center;
        align-self: center;
    }

    main .div-3 {
        width: 100%;
        padding: 5vh 5vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    main .div-3 button {
        display: none;
    }

    main .div-3 h3 {
        text-align: center;
        font-family: "Lobster", cursive;
        font-size: 36px;
        padding: 9vh 0 3vh 0;
    }

    main .div-3 #p-2 {
        font-size: 22px;
        padding-top: 3vh;
    }
}

@media (max-width: 768px) {
    header section div .header-txt {
        padding: 0vh 20vh 0 0;
    }

    header section h1 {
        font-family: "Lobster", cursive;
        font-size: 40px;
        padding: 0vh 2vh 3vh 0;
        margin-left: 3vh;
    }

    header section p {
        font-family: "Courgette", cursive;
        font-size: 18px;
        padding: 3vh 0;
        margin-left: 3vh;
    }

    header section button {
        margin-left: 3vh;
    }

    body main h2 {
        font-size: 36px;
    }

    body main p {
        font-size: 18px;
    }

    body main video {
        width: 310px;
    }

    body main h3 {
        padding-top: 12vh;
    }

    body main .historia {
        width: 310px;
    }
}