h3 {
    margin: 0;
    justify-content: center;
}
#first {
background-color: #FDEEDC;
min-height: 100vh;
}
#second {
background-color: #FFD8A9;
min-height: 100vh;
}
#third {
background-color: $color-naranja; /*Acá la variable "obligatoria" */
min-height: 100vh;
}
#background-1 {
    background-image: url(../assets/images/fondo3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

main {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h2 {
            text-align: center;
            font-family: 'Lobster', cursive;
            font-size: 46px;
            padding: 9vh 0 3vh 0;
        }
        p {
            text-align: center;
            font-family: 'Courgette', cursive;
            font-size: 24px;
            padding: 3vh 0;
        }
    }
    .div-1 {
        width: 100%;
    }
    .div-2 {
        padding: 2vh;
    }
    .button {
        width: 100%;
        padding: 1vh 3vh 7vh 3vh;
        margin: 0;
        text-align: center;
    }
    .historia {
        width: 500px;
        border-radius: 10px;
    }
    .div-3 {
        width: 50%;
        padding: 5vh 15vh;
        button {
            margin-left: 15vh;
        }
    }
    h3 {
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 46px;
        padding: 9vh 0 3vh 0;
    }
    #p-2 {
        font-size: 34px;
        padding-top: 11vh;
    }
    .div-4 {
        width: 50%;
        padding: 5vh 15vh;
        font-size: 24px;
        color: #FDEEDC;
        font-family:'Courgette', cursive;
        padding-top: 20vh;
    }

    .div-5 {
        display: flex;
        width: 50%;
        padding: 5vh 15vh;
        font-size: 24px;
        color: #FDEEDC;
        font-family:'Courgette', cursive;
        padding-top: 20vh;
    }
}