.title {
    padding: 9vh 2vh 2vh 2vh;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    padding: 15px;
}

.grid-box-2 {
    grid-auto-rows: 390px;
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s ease;
}

.grid-image:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s ease;
}

#size {
    height: 95vh;
    padding-top: 5vh;
}

main div {
    .center {
        justify-self: center;
    }
}